@page
@model SistemaFolhaWeb.Pages.Index1Model
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>RHSolutions</title>
    <style>
        /* Estilos para os botões */
        .botao {
            display: block;
            width: 200px;
            padding: 10px;
            margin: 10px auto;
            background-color: #234A4D
            color: #fff;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

            /* Estilos para o feedback ao passar o mouse */
            .botao:hover {
                background-color: #2980b9;
            }
    </style>
</head>
<body>
    <a class="botao" href="#">Folha de Pagamento</a>
    <a class="botao" href="#">Lista de Funcionários</a>
    <a href="javascript:history.back()">Voltar para a Página Inicial</a>
</body>
</html>